/** @format */

$color-primary-dark: #28b485;
//COLOR
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-grey: #777;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;

//Font size
$default-fontSize: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
