/** @format */

.feature-box {
  max-width: 25rem;
  text-align: center;
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5 4rem rgba($color-black, 0.15);
  display: inline-block;
  &__icon {
    padding: 2rem;
  }
  &__text {
    text-align: center;
    padding: 1rem 2rem;
  }
}
